.daw1{
    background-image: url("../images/cover.jpg");
    background-color: #2b2929;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerwork1{
    border: rgb(85, 80, 80) solid 1px;
    background-image: url("../images/jobs/proyecto1/SharedScreenshot1_opt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;
    background-repeat: no-repeat;
    height: 180px;
    width: 100% ;
    text-align: center;
}
.containerwork2{
    border: rgb(85, 80, 80) solid 1px;
    background-image: url("../images/jobs/proyecto2/SharedScreenshot_opt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;
    background-repeat: no-repeat;
    height: 180px;
    width: 100% ;
    text-align: center;
}
.containerwork3{
    border: rgb(85, 80, 80) solid 1px;
    background-image: url("../images/jobs/proyecto3/maintenance.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;
    background-repeat: no-repeat;
    height: 180px;
    width: 100% ;
    text-align: center;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.daf{
    height: auto;
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: solid #2268a5 2px;
}
.dja2{
    letter-spacing: 1px;
    height: auto;
}
.gh{
    background-color:#6887a1;
    padding-top: 0.1em;
    
}
.dasf{
    background-color:#6887a1;
    color: #dad8d8;
    min-height: 120px;
}
.dasf100{
    background-color:#6887a1;
    color: #dad8d8;
    min-height: 100px;
}
.lji{
    background-color: #324250;
}
.container_image{
    height: 40px;
}
.dfasdf{
    background-color: #3b596d;
}
.exo{
    font-family: 'Exo', sans-serif;
}
.navbar-toggler{
    background-color: azure;
}
.titleslogan{
  line-height: 150%;
}
.lt1px{
  letter-spacing: 1px;
}
.dasd{
    filter: blur(.5px);
    
    border-color: azure;
    align-items: center;
    padding: .5rem 1rem;
}
.dasd:hover{
    filter: blur();
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.dasd2:hover{
    background-color: rgb(73, 72, 72);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.machinedot p span{
    position:absolute;
    right:0;
    width:0;
    background: rgb(0,16,36);
    border-left: 1px solid #000;
    animation: escribir 5s steps(30);
}
.skillicons{
    max-width:80%;
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
.custom-toggler.navbar-toggler {
    border-color: rgb(55, 110, 212);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55,110,212, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.kas{
    background-color: #6887a1;
}
.icon_zoom{
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;
  }
.icon_zoom:hover{
     transform : scale(1.5);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);
}
.contact-box-icons{
  margin: 1em 0;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
.contact_footer i {
  color: #cecece;
  transition: 0.6s;

}
.cv-icon i:hover{
  color: #9762a0;
}
.linkedin-icon i:hover{
  color:#639cb9;

}
.github-icon i:hover{
  color: #525151;

}
.whatsapp-icon i:hover{
  color:#6fc768;

}

#maquinas{
    width: 100%;
}